<% provide :title, t("application.general.about") %>
<div class="row">
  <div class="col-md-12 block">
    <h1 class="text-center">Welcome to Book Review System!</h1>
    <p>We provide a largest collection of books with their insight reviews an ratings. You cannot find these information anywhere else on the Internet</p>
    <h2>Our team</h2>
      <ol>
        <li>
          Luong Viet Dung. Email:
          <span><a href="mailto:luong.viet.dung@framgia.com">luong.viet.dung@framgia.com</a></span>
        </li>
        <li>
          Trinh Duc Duy. Email:
          <span><a href="mailto:trinh.duc.duy@framgia.com">trinh.duc.duy@framgia.com</a></span>
        </li>
      </ol>
  </div>
</div>
