<h1><% @user.name %>. You have a new notification</h1>
<p>Book <%= link_to @book.title, @book %> has a new review</p>
<p>
  <span><%= link_to @review.user.name, @review.user %>:</span>
  <%= @review.content %>
</p>
