<div class="row">
  <div class="col-md-12 block profile">
    <div class="col-md-3">
      <%= render "left_panel" %>
    </div>
    <div class="col-md-9">
      <%= render "activities/listing" %>
    </div>
  </div>
</div>
