<div class="filter-label">
  <%= sort_link @q, :title, t("books.general.title"), {type: :search} %>
</div>
<div class="filter-label">
  <%= sort_link @q, :published_date, t("books.general.published_date"), {type: :search} %>
</div>
