$nprogress-color: #d9534f;
$nprogress-height: 2px;
$nprogress-zindex: 10100;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "nprogress";
@import "nprogress-bootstrap";
@import "layouts";
@import "books";
@import "jquery-ui/datepicker";
@import "bootsy";
@import "jquery-bar-rating/dist/themes/bootstrap-stars";
@import "users";

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-success;
}

.btn {
  &.add_to_favorites {
    @extend .btn-primary;
  }
  &.remove_from_favorites {
    @extend .btn-danger;
  }
}

.profile .book-container {
  .col-md-2 {
    @extend .col-md-3;
  }
}
