@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);
@import "variables";

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  line-height: 1.6em;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: $gray-extra-light;
  padding-bottom: 60px;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

.btn {
  font-size: 16px;
}

.alert {
  padding: 10px 25px;
}

.block {
  background: $white;
  border: 1px solid $gray-light;
}

.navbar-inverse {
  background: $gray-dark;
  border-bottom: 0;
  a {
    color: $gray-extra-light !important;
    &:hover {
      color: $gray-light  !important;
    }
  }
  .dropdown-menu {
    a {
      color: $gray-dark !important;
    }
  }
  .profile-picture {
    background: transparent !important;
    padding: 8px;
  }
  #requestBook {
    &:hover, &:focus {
      background: $brand-primary;
      border: 1px solid transparent;
      color: $white-dark !important;
    }
  }
}

#footer {
  background: $white;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: $white;
  border: 3px dotted rgba(0,0,0,0.1);
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ui-datepicker {
  background: $white;
  padding: 10px 20px !important;
  box-shadow: 1px 2px 0px $gray-light
}

.pagination {
  background: $white;
  cursor: default;
  float:right;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    color: $gray-light;
    border: 1px solid $gray;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: $gray;
    color: white;
    border: 1px solid $gray;
  }
  a {
    text-decoration: none;
    color: $gray;
    border: 1px solid $gray;
    &:hover, &:focus {
      color: $gray-dark;
      border-color: $gray-dark;
    }
  }
  .page_info {
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: $gray-dark;
      padding: 0.1em 0.25em;
    }
  }
}

.image-container {
  position: relative;
}

.preview {
  border: 4px dashed $gray-light;
  margin-top: -10px;
  position: absolute;
  right: 0;
  top: -25px;
  width: 180px;
  height: 150px;
  overflow: hidden;
}

.glyphicon-star {
  color: $gray;
  &.active {
    color: $yellow;
    text-shadow: 1px 1px 0px $yellow-dark;
  }
}

.glyphicon-heart {
  color: $red;
}

.activity-item {
  padding: 10px 0;
  border-bottom: 1px solid $gray-light;
}
