<tr id="user_<%= user.id %>">
  <td><%= link_to user.name, user_path(user) %></td>
  <td><%= user.email %></td>
  <td>
    <%= link_to t("application.buttons.delete"), admin_user_path(user),
      method: :delete, remote: true, class: "btn btn-danger", data: {confirm: t("application.messages.confirm")} %>
  </td>
</tr>
