<li><%= link_to t("admin.menu.books"), admin_books_path %></li>
<li><%= link_to t("admin.menu.categories"), admin_categories_path %></li>
<li><%= link_to t("admin.menu.users"), admin_users_path %></li>
<li><%= link_to t("admin.menu.requests"), admin_requests_path %></li>
